
.watch{
    margin: 0.5rem;
    height: 85px;
    width: 75px;
     border: 1px dashed; 
    border-radius: 11px;
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 53px;

}

.boxValue{
    height: 50px;
    width: 25px;
    font-size: 45px;
    color: white;
    margin-right: 1rem;
}

#mainContainer{
    display: flex;
    justify-content: center;
    background-color: black;
}